<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <style>
        
        
        .container {
            text-align: center;

        }

        .container pre {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

    </style>
</head>

<body>
    <div class="container">
        <pre>
        

 __    __    ______   .___  ___.  _______         _______.____    __    ____  _______  _______ .___________.    __    __    ______   .___  ___.  _______ 
|  |  |  |  /  __  \  |   \/   | |   ____|       /       |\   \  /  \  /   / |   ____||   ____||           |   |  |  |  |  /  __  \  |   \/   | |   ____|
|  |__|  | |  |  |  | |  \  /  | |  |__         |   (----` \   \/    \/   /  |  |__   |  |__   `---|  |----`   |  |__|  | |  |  |  | |  \  /  | |  |__   
|   __   | |  |  |  | |  |\/|  | |   __|         \   \      \            /   |   __|  |   __|      |  |        |   __   | |  |  |  | |  |\/|  | |   __|  
|  |  |  | |  `--'  | |  |  |  | |  |____    .----)   |      \    /\    /    |  |____ |  |____     |  |        |  |  |  | |  `--'  | |  |  |  | |  |____ 
|__|  |__|  \______/  |__|  |__| |_______|   |_______/        \__/  \__/     |_______||_______|    |__|        |__|  |__|  \______/  |__|  |__| |_______|
                                                                                                                                                         

                                                                                          
                                                                                          


                                                                     (

                                                                   )
                                                                 ( _   _._
                                                                  |_|-'_~_`-._
                                                               _.-'-_~_-~_-~-_`-._
                                                           _.-'_~-_~-_-~-_~_~-_~-_`-._
                                                          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                            |  []  []   []   []  [] |
                                                            |           __    ___   |   
                                                          ._|  []  []  | .|  [___]  |_._._._._._._._._._._._._._._._._.  
                                                          |=|________()|__|()_______|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=|=| 
                                                        ^^^^^^^^^^^^^^^ === ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  
                                                                         ===   
                                                                           === 
                                                                              ===
                                                                                 ===
    
    </pre>
    </div>
</body>

</html>
