<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>

    <script>
        console.log("Client side");
        
        var obj = '<%- result2 %>';
        
        console.log(); 
    </script>

</head>

<body>

    <h1>MYSQL USERS</h1>
    <pre>

    <%= JSON.stringify(result, null, 2); %>
    <%= console.log("server side"); %>
    
    </pre>

</body>

</html>
